#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
         &kp Q        &kp W        &kp E         &kp R         &kp T                                &kp Y            &kp U           &kp I          &kp O           &kp P
         &mt LSHFT A  &mt LCTRL    &mt LALT D    &mt LGUI F    &kp G                                &kp H            &mt RGUI J      &mt RALT K     &mt RCTRL L     &mt RSHFT SEMICOLON
         &kp Z        &kp X        &kp C         &kp V         &kp B                                &kp N            &kp M           &kp COMMA      &kp DOT         &kp SLASH  
                       &kp LBKT    &kp RBKT                                                                                          &kp MINUS      &kp EQUAL
                                         &kp SPACE &kp TAB                                            &kp BSPC  &kp ENTER
                                                         &mo LOWER     &kp TAB              &kp DEL       &mo RAISE
                                                         &kp GRAVE     &kp LGUI             &kp END       &mo LOWER
            >;
        };

        lower_layer {
            bindings = <
                &trans &trans &trans &trans &trans                       &kp C_VOL_UP   &trans       &kp UP    &trans    &kp PG_UP
                &trans &kp PSCRN &trans &trans &trans                    &kp C_VOL_DN     &kp LEFT     &kp DOWN  &kp RIGHT &kp PG_DN
                &trans &trans &trans &trans &trans                       &kp C_MUTE   &trans       &trans    &trans    &trans
                       &trans &trans                                                    &trans       &trans
                                     &trans &trans                       &trans &trans
                                            &trans &trans         &trans &trans
                                            &trans &trans         &trans &trans
            >;
        };

        raise_layer {
            bindings = <
    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT                     &kp CARET  &kp AMPS  &kp ASTRK   &kp LPAR  &kp RPAR
    &kp N1    &kp N2  &kp N3    &kp N4    &kp N5                        &kp N6     &kp N7    &kp N8      &kp N9    &kp N0
    &trans    &trans  &trans    &trans    &trans                        &trans     &trans    &trans      &kp SINGLE_QUOTE    &kp BSLH
              &trans  &trans                                                                 &trans      &trans
                                &trans    &trans                        &trans     &trans
                                          &trans    &trans    &trans    &trans
                                          &trans    &trans    &trans    &trans
            >;
        };
	adjust_layer {
            bindings = <
		&kp F1        &kp F2       &kp F3       &kp F4        &kp F5           &kp F6  &kp F7  &kp F8   &kp F9   &kp F10
        &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4     &none   &none   &none    &kp F11  &kp F12
                &out OUT_USB  &out OUT_BLE        &none        &none         &none            &none   &none   &none    &none    &none 
                              &bt BT_CLR   &bt BT_CLR_ALL                                              &none    &none
                                                      &none &none                      &none &none
                                                      &none &none                      &none &none
                                                      &none &none                      &none &none
            >;
        };
    };
};
